{% extends 'base.html.twig' %}

{% block title %}Clothes index{% endblock %}

{% block body %}
    <ol class="breadcrumb my-4 ml-4">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Clothes Index</li>
    </ol>

    <h1 class="my-4 title_clothe">Clothes index</h1>
<a href="{{ path('clothes_new') }}" class="btn btn-outline-warning my-4 ml-5">Créé un nouvel article</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Marque</th>
                <th>Année</th>
                <th>Lien</th>
                <th>Nouveauté</th>
                <th style="padding: 24px 0;">Modifié le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clothes in clothes %}
            <tr>
                <td>{{ clothes.id }}</td>
                <td>{{ clothes.Name }}</td>
                <td>{{ clothes.Price }}</td>
                <td>{{ clothes.Brand }}</td>
                <td>{{ clothes.Year ? clothes.Year|date('Y') : '' }}</td>
                <td>{{ clothes.Link }}</td>
                <td>{{ clothes.Novelty ? 'Yes' : 'No' }}</td>
                <td>{{ clothes.UpdateTime ? clothes.UpdateTime|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('clothes_edit', {'id': clothes.id}) }}" class="btn btn-outline-info mb-1" style="width:122px;">Éditer</a>
                    <form method="post" action="{{ path('clothes_delete', {'id': clothes.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clothes.id) }}">
                        <button class="btn btn-outline-danger" >Supprimer</button>
                    </form>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="9">Aucun vêtement trouvé, ajouté en à travers la page administrateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
